
$wine: #4B2E39;
$plum: #4B2E39;
$lavender: #6C596E;
$grey: #6F7D8C;
$light-grey: #D7DBDF;
$blue: #77A0A9;

$header-height: 100px;

html {
  height: 100%;
}
body {
  height: 100%;
}

#root {
  background-color: $light-grey;
  // color: #000;
  font-family: sans-serif;



  > header {
    background-color: $grey;
    color: #fff;
    height: $header-height;
    margin-bottom: 10px;
    position: fixed;
    width: 100%;
  }

  > main {
    display: flex;
    flex-flow: column;
    
    letter-spacing: -0.025rem;
    line-height: 1.2;
    padding-top: $header-height;

    > * {
      margin: 5px;
    }
  }

  > footer {
    background-color: $plum;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
  }
}
