@import 'reset';
@import 'includes';
@import 'core';

// Apply some basic styling to main
// Pin the footer to the bottom
// Keep the header fixed to the top, scrolling long content underneath
body {
  background: $background;
  color: $color;
  margin: 0;
  padding: 0;
  > #root {
    > header {
      @include header;
      @include fixed-header(150px);
      background: lightblue;
      border-bottom: 1px solid $color;
      height: 150px;

    }

    > main {
      @include main;
      @include borderRadius(20px);
      background: lightgray;
      // margin: .25em;
      // margin-top: 150px;
    }

    > footer  {
      @include footer;
      background: lightcoral;
      border-top: 1px solid $color;
      color: darkcyan;
      text-align: center;
      width: 100%;

      > * {
        @include center-block;
      }

    }
  }
}